/*  //$Id: /catalog/admin/scr.css.php (2610) */

.tabcontent {
	padding:2em; /* acts little ike cellpadding, so dont touch this */
	clear:both;
	background: #999999 ;  /* Background color */
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
    border-left:1px solid #ddd;
	border-right:1px solid #ddd; 

    color:#000000;      /* font color */
	font-size: 12px;    /* font size -- does not affect standard view */
  }
li{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
#mainnavtabbed0 li,
#mainnavtabbed1 li,
#mainnavtabbed2 li,
#mainnavtabbed3 li,
#mainnavtabbed4 li{
	margin-left:0px; /* distance between tabs */
	text-align: center; /* alignment of text within tabs */
	float:left;
	width:99px; /* width of actual tab */
	margin-bottom:0px;
}

/* this is the active tab class, just as below */
#mainnavtabbed0 li a,
#mainnavtabbed1 li a,
#mainnavtabbed2 li a,
#mainnavtabbed3 li a,
#mainnavtabbed4 li a{
	padding-top:3px;
	padding-bottom:3px; /* padding around the text within the tabs */
	border-left:1px solid #ccc; /* border of the inactive tab */
	border-top:0px solid #ccc; /* border of the inactive tab */
	border-bottom:none;
	border-right:0px solid #ccc; /* border of the inactive tab */
	/*background-image:url(images/icons/a_information2.gif); */
	background:#666;
	display:block;
	color:#FFFFFF;
	text-decoration:bold;
	font: 12px Arial, Helvetica, sans-serif;
}

/* the folowing section deals with the tabbed button when active */
#mainnavtabbed0 li a:active,#mainnavtabbed0 li a.tabon:hover,
#mainnavtabbed1 li a:active,#mainnavtabbed1 li a.tabon:hover,
#mainnavtabbed2 li a:active,#mainnavtabbed2 li a.tabon:hover,
#mainnavtabbed3 li a:active,#mainnavtabbed3 li a.tabon:hover,
#mainnavtabbed4 li a:active,#mainnavtabbed4 li a.tabon:hover{
	/*background-image:url(/images/icons/p_information1.gif);*/
	color:#996600;         /* Font color on tab */
	background:#FFFFCC;  /*  Tab Color */
	border-left:0px solid #aaa;
	border-top:0px solid #aaa;
	border-bottom:none;
	border-right:0px solid #aaa;
}

/* the folowing section deals with the tabbed button when hovered */
#mainnavtabbed0 li a:hover,
#mainnavtabbed1 li a:hover,
#mainnavtabbed2 li a:hover,
#mainnavtabbed3 li a:hover,
#mainnavtabbed4 li a:hover{
	 /*background-image:url(/images/icons/a_information2.gif);*/
	color:#F90;      /* Font color on hover */
	background: #999999;
	border-left:0px solid #ccc;
	border-top:0px solid #ccc;
	border-bottom:none;
	border-right:0px solid #ccc;
}
h2{
	margin:0;
	font-size:120%;
	font-family:"trebuchet ms", verdana, sans-serif;
}
h1{
	margin:0;
	font-size:150%;
	color:#fff;
	font-family:"trebuchet ms", verdana, sans-serif;
}

HR {
	 color: #ccc;
     background-color: #ccc;
	 height: 1px;
	 border: none;
}
#domtabs {
display:none}